<%= form_tag create_menu_section_path do %>
	<%= hidden_field_tag "content_type", 'dish' %>
	<%= hidden_field_tag "menu_id", request[:menu_id] %>	
	<div>
		<%= label_tag :Dish %><br />
		<%= text_field_tag "menu_section[name]" %><br />
		<%= label_tag :Description %><br />
		<%= text_field_tag "menu_section[descripton]" %><br />

		<%= label_tag :Price %><br />
		<%= text_field_tag "menu_section[price_points][0][price]" %><br />
		<%= label_tag :Price_description %><br />
		<%= text_field_tag "menu_section[price_points][0][description]" %><br />
		<%= label_tag :Per_person %><br />
		<%= check_box_tag "menu_section[price_points][0][per_person]" %><br />
		<%= label_tag :Supplement %><br />
		<%= text_field_tag "menu_section[price_points][0][supplement]" %><br />
		<%= label_tag :Supplement_description %><br />
		<%= text_field_tag "menu_section[price_points][0][supplement_description]" %><br />

	</div>
	<%= submit_tag 'Submit' %>
<% end %>
