<%= form_for @menu, :url => create_unit_page_units_path do |f| %>
	<%= hidden_field_tag "content_type", 'menu' %>
	<div>
		<%= label_tag :name %><br />
		<%= text_field_tag "unit[name]" %>
	</div>
	<div>
		<%= f.label :description %><br />
		<%= text_field_tag "unit[description]" %>
	</div>
	<div>
		<%= label_tag :dishes %><br />
			<% @menu.dishes.each do |dish| %>
			  <div class="dish">
				<%= label_tag :name %><br />
				<%= text_field_tag "unit[dishes][][name]" %><br />
				<%= label_tag :description %><br />
				<%= text_field_tag "unit[dishes][][description]" %><br />
				<%= label_tag :price %><br />
				<%= text_field_tag "unit[dishes][][price]" %>
				</div>
			<% end %>
	</div>
	<div>
		<%= f.submit 'Add dish' %>
	</div>
	<%= f.submit 'Submit' %>
<% end %>