<%= form_tag create_unit_page_units_path do %>
	<%= hidden_field_tag "content_type", 'reservation_form' %>
	<div>
		<%= label_tag :form_type %><br />
		<%= text_field_tag "unit[form_type]" %>
	</div>
	<%= submit_tag 'Submit' %>
<% end %>
