<%= content_for :head do %>
<%= javascript_include_tag 'yahoo_yui/yahoo_dom_event', 'yahoo_yui/element_min', 'yahoo_yui/container_core', 'yahoo_yui/simple_editor' %>
<% end %>

<script>
var myEditor = new YAHOO.widget.SimpleEditor('msgpost', {
    height: '300px',
    width: '522px',
    dompath: true, //Turns on the bar at the bottom
		handleSubmit: true
});
myEditor.render();
</script>

<div class="yui-skin-sam">
<%= form_tag create_unit_page_units_path do %>
		<%= hidden_field_tag "content_type", 'textbox' %>
		<%= label_tag :content %><br />
		<%= text_area_tag "unit[content]", nil, :id => 'msgpost' %>
		<%= submit_tag 'Submit' %>
<% end %>
</div>