<h1>New Page</h1>
<%= form_for @page do |f| %>
<%= f.hidden_field :site, :value => @site.domain %>
<%= f.hidden_field :page_type, :value => 'misc' %>
<div>
<%= f.label :name %>
<%= f.text_field :name %>
</div>
<div>
<%= f.label :slug %>
<%= f.text_field :slug %>
</div>
<div>
<input type="submit" value="Create" name="commit"/>
</div>
<% end %>