<h1>Please select your time for <%= @sitting.name %> for <%= params[:group_size] %> on <%= @date %></h1>
<div id="reservation_form">
	<%= form_tag details_reservations_path, :remote => true do |f| %>
	<%= hidden_field_tag :date, @date %>
	<%= hidden_field_tag :group_size, params[:group_size] %>
	<% @sitting.timeslots.each do |timeslot| %>
	<div class="availability_timeslot available_<%= @site.timeslot_available?(@date, timeslot) %>">
		<%= radio_button_tag 'time', timeslot, false, :disabled => !@site.timeslot_available?(@date, timeslot) %>
		<%= label_tag timeslot %>		
	</div>
	<% end %>
	<div id="availability_submit">
		<%= submit_tag "Confirm" %>
	</div>
	<% end %>
</div>
