<div>
	Please select your date
</div>
<div id="reservation_form">
	<%= form_tag availability_reservations_path, :remote => true do %>
	<%= hidden_field_tag :sitting, params[:sitting] %>
	<%= hidden_field_tag :group_size, params[:group_size] %>	
	<div>
		<%= date_select(:date, 'select', :order => [:day, :month, :year]) %>
	</div>
	<div>
		<%= submit_tag "Check Availability" %>
	</div>
	<% end %>
</div>
