<%= content_for :head do %>
<%= javascript_include_tag 'datepicker' %>
<script type="text/javascript">
	$(function() {
		$("#datepicker").datepicker({dateFormat: 'DD d MM yy', firstDay: 1});
	});
</script>
<% end %>
<div>
	 Please select your dates for <%= params[:sitting] %> for <%= params[:group_size] %> people
</div>
<h1>Reservations</h1>
<div>
	Please select your date
</div>
<div id="reservation_form">
	<%= form_tag availability_reservations_path do |f| %>
	<%= hidden_field_tag :sitting, params[:sitting] %>
	<%= hidden_field_tag :group_size, params[:group_size] %>	
	<div>
		<%= text_field_tag :date, nil, :id => 'datepicker' %><br />  
	</div>
	<div>
		<%= submit_tag "Choose Time" %>
	</div>
	<% end %>
</div>
