<%= form_tag update_unit_page_unit_path do %>
		<%= hidden_field_tag "unit[content_type]", unit.content_type %>
		<%= hidden_field_tag "unit[css_id]", unit.css_id %>			
	<div>
		<%= label_tag :heading %><br />
		<%= text_field_tag "unit[heading]", unit.heading %>
	</div>
	<%= submit_tag 'Submit' %>
<% end %>
