<li class="sortable_item">
		<%= hidden_field_tag "page[units][][content_type]", unit[0].content_type %>
		<%= hidden_field_tag "page[units][][css_id]", unit[0].css_id %>			
		<%= hidden_field_tag "page[units][][heading]", unit[0].heading, :id => "#{unit[0].css_id}" %>
		<div>
			<%= unit[0].heading %>
		</div>	
		<div>
			<%= link_to 'Edit', :controller => 'units', :action => 'edit', :page_id => request[:id], :id => unit[1] %>
		</div>
		<div>
			<span class="delete_button"><%= submit_tag 'Delete', :name => "delete[#{unit[1]}]" %></span>
		</div>
</li>