<li class="sortable_item">
			<%= hidden_field_tag "page[units][][content_type]", unit.content_type %>
			<%= hidden_field_tag "page[units][][css_id]", unit.css_id %>
			<%= hidden_field_tag "page[units][][site]", unit.site %>
			<%= hidden_field_tag "page[units][][slug]", unit.slug %>
			<%= hidden_field_tag "page[units][][filename]", unit.filename %>
			<div class="admin_image">
				<%= image_tag("#{unit.site}/#{unit.slug}/#{unit.filename}.jpeg", :height => '100px') %>
			</div>
		<div>
		</div>
		<div>
			<span class="delete_button"><%= submit_tag 'Delete', :name => "delete[#{index}]" %></span>
		</div>
</li>